AddCharset UTF-8 .html
AddCharset UTF-8 .js
AddCharset UTF-8 .css

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/css application/javascript
</ifmodule>
